/* reset */
a {
    color: inherit;
    text-decoration: none;

}

input,
button {
    background: none;
    outline: none;
    border: none;
}

/* layout */

.wrapper {
    background: #e9ecef;
    padding-top: 64px;
    height: 100vh;

}

section.acount-book {
    background: tomato;
    width: 512px;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

}

section.acount-book .app-title {
    background: #495057;
    color: #fff;
    height: 64px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

}

section.acount-book .content {
    background: #fff;
}

section.acount-book .content .acount-insert {
    background: #495057;
    display: flex;
}

section.acount-book .content .acount-insert input {
    /* background: red; */
    flex: 4;
    /* padding: 8px; */
    padding:8px 0px 8px 16px;
    font-size: 1.1em;
    line-height: 1.5;
    color: #fff;
}


section.acount-book .content .acount-insert input::placeholder {
    /* color: rgb(78, 78, 78);
     */
     color: rgb(184, 178, 178);
}

section.acount-book .content .acount-insert button {
    /* background: yellow; */
    /* x버튼 자기 영역만큼만 사용하게 하려면 flex 주지 않고 위에 1 다 줌 */
    flex:2;
    background: #868e96;
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.acount-book .content .acount-insert button:hover {
    background: #adb5bd;
}

section.acount-book .content .acount-list {
    min-height: 570px;
    max-height: 770px;
    overflow: auto;
}

section.acount-book .content .acount-list .acount-list-item {
    /* li들을 수평정렬해야해서 여기에 플렉스걸기 */
    display: flex;
    align-items: center;

    /* background: orange;
    border-bottom: 1px solid #000; */
}

section.acount-book .content .acount-list .acount-list-item:nth-child(odd) {
    background: #f8f9fa;
}

section.acount-book .content .acount-list .acount-list-item:first-child {
    background: lightgray;
    cursor: none;
}
section.acount-book .content .acount-list .acount-list-item.checked {
    background: lightgray;
}

section.acount-book .content .acount-list .acount-list-item .acount {
    /* background: tomato; */
    flex: 1;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    cursor: pointer;
}
section.acount-book .content .acount-list .acount-list-item.yesterday .acount {
    cursor: auto;
}

section.acount-book .content .acount-list .acount-list-item .acount .title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 8px;
    flex: 1;
}

section.acount-book .content .acount-list .acount-list-item .acount .money {
    margin-right: 12px;
    flex: 1;
    text-align: right;
}

.money.plus {
    color: blue;
}

.money.minus {
    color: red;
}

.money .mark {
    margin-right: 4px;
    font-size: 20px;
}

section.acount-book .content .acount-list .acount-list-item .acount .mod-input {
    margin-left: 64px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px;
    box-sizing: border-box;
    font-size: 12px;
    width: 200px;

}

section.acount-book .content .acount-list .acount-list-item .acount .mod-input:focus {
    outline: #e20;
    border: 1px solid #e20;

}

section.acount-book .content .acount-list .acount-list-item div {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

section.acount-book .content .acount-list .acount-list-item.checked div{
    display: block;
}

section.acount-book .content .acount-list .acount-list-item .modify {
    color: green;
    margin-right: 10px;
}

section.acount-book .content .acount-list .acount-list-item .remove {    
    color: red;
    margin-right: 10px;
}

section.acount-book .content .acount-result {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    background: lightgray;
   
}

section.acount-book .content .acount-result .result-list li {
    padding: 16px;
    display: flex;
    border-bottom: 1px solid #000;
}

section.acount-book .content .acount-result .result-list li:last-child {
    border-bottom: none;
}


section.acount-book .content .acount-result .result-list li .title {
    flex: 1;
}

section.acount-book .content .acount-result .result-list li span.money {
    flex: 1;
    text-align: right;
    margin-right: 12px;
}
